.auction-description {
  // 옆에 그림이 올 것을 감안해서 준 마진
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.auction-description > * {
  display: flex;
  height: 10%;
  align-items: center;
  // margin-bottom: 1rem;
}

.title {
  font-weight: 600;
}

.buttonWrapper {
  justify-content: space-evenly;
  height: 8%;

  .button {
    width: 30%;
    height: 100%;
    border-radius: 8px;
  }
}
