// BankLogo.module.scss

.banklogo {
  border-radius: 100%;
  background-size: cover;
}

.large {
  width: 64px;
  height: 64px;
}

.normal {
  width: 48px;
  height: 48px;
}

.small {
  width: 2rem;
  height: 2rem;
}

.shinhan {
  background-image: url('/img/bankicon/shinhan.svg');
}

.kb {
  background-image: url('/img/bankicon/kb.svg');
}

.hana {
  background-image: url('/img/bankicon/hana.svg');
}
