.create-page {
  margin: 50px;
}

.image {
  max-width: 300px;
  max-height: 300px;
}

.btn {
  margin-top: 10px;
}

textarea {
  margin-left: 30px;
  width: 90%;
  height: 20rem;
}
.input {
  margin-left: 30px;
}
