.blue {
  color: #3579d4;
}

.text-xxl {
  font-size: xx-large;
}

.text-xl {
  font-size: x-large;
}

.text-lg {
  font-size: large;
}

.text-sm {
  font-size: small;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.center {
  text-align: center;
}
