.funding-card {
  display: flex;
  flex-direction: column;
  & :nth-child(1) {
    flex: 1;
  }
  & :nth-child(2) {
    flex: 1;
  }
  & :nth-child(3) {
    flex: 1;
  }
}

.bar-chart {
  height: minmax(auto, 100px);
}
