.funding-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5%;
  border: 2px solid blue;
  border-radius: 20px;

  &-imageWrapper {
    height: 40%;
    .funding-card-image {
      height: 95%;
    }
  }
  &-text {
    height: 40%;
  }
  &-funding-bar {
    height: 20%;
  }
}
