.funding-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  &-image {
    height: 40%;
  }
  &-text {
    height: 40%;
  }
  &-funding-bar {
    height: 20%;
  }
}
