.auction-page {
  width: 1056px;
  margin: 0 auto;
  position: relative;
}

.auction-page-card-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 3vh;
}
