.auction-detail-page {
  // display: grid;
  // grid-template-areas:
  //   'main main'
  //   'description profile';
  // grid-template-columns: 7fr 3fr;
  // grid-template-rows: repeat(2, 60vh);
  // gap: 1rem;
  width: 1056px;
  margin: 0 auto;
  position: relative;

  &__main {
  }
  &__description {
  }
  &__profile {
  }
}
