.auction-detail-page {
  display: grid;
  grid-template-areas:
    'main main'
    'description profile';
  grid-template-columns: 7fr 3fr;
  grid-template-rows: repeat(2, 60vh);
  gap: 1rem;
  margin: 50px;

  &__main {
    grid-area: main;
  }

  &__description {
    grid-area: description;
  }
  &__profile {
    grid-area: profile;
  }
}
