// StockPage.module.scss

.stockPage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.allStocks {
  width: 70%;
}

.rankingWrapper {
  display: flex;
  width: 80%;
  justify-content: center;
}

.newsWrapper {
  width: 30%;
}

.accordionHeader {
  background-color: #aadaff;
  font-size: 1.3rem;
  padding: 0.3rem 0;
}
.accordionHeader:hover {
  background-color: #3579d4;
  color: #f2f2f2;
}
