.funding-item {
  margin: 1%;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  display: flex;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;

    &--text {
      flex: 1;
    }
  }
}

.funding-item__image {
  width: 5%;
  height: 5%;
  margin: 10px;
}
