.funding-info__left {
  display: flex;
  width: 70%;
  align-items: center;
  margin-right: 10px;
  > div {
    width: 50%;
    height: 50%;
  }
}
.funding-info__right {
  padding: 10px;
  width: 30%;
}
