// MainAuction.module.scss
.main-auction {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 2rem;

  &__description {
    width: 50%;
  }

  &__image {
    width: 30%;
    height: min-content;
  }
}
