.comment {
  position: relative;
  overflow: auto;

  border: 1px solid lightgray;
  &__create-box {
    display: flex;
    height: 5vh;
    position: sticky;
    top: 0px;
    background-color: #f2f2f2;
    z-index: 1;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    &--text {
      width: 100% !important;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 0;
    }

    &--button {
      height: 5vh;
      width: 5vw;
      color: white;
      background-color: #3579d4;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__item {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom: 1px solid #333;

    &-container {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    &--content {
      font-size: 1.5vw;
      margin-bottom: 0.5vh;
    }

    &--info {
      font-size: 1vw;
      margin-left: 1vw;
    }

    &--remove {
      color: white;
      background-color: #ed2926;
      border: 0;
    }
  }
  input {
  }
}
