.comment {
  overflow: auto;
  padding: 15px;
  border: 1px solid lightgray;
  &__create-box {
    display: flex;
    height: 5vh;

    &--text {
      width: 100% !important;
    }

    &--button {
      height: 5vh;
      width: 5vw;
      color: white;
      background-color: #3579d4;
      border: 0;
    }
  }

  &__item {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom: 1px solid #333;

    &-container {
      // overflow: scroll;
    }

    &--content {
      font-size: 1.5vw;
      margin-bottom: 0.5vh;
    }

    &--info {
      font-size: 1vw;
      margin-left: 1vw;
    }

    &--remove {
      color: white;
      background-color: #ed2926;
      border: 0;
    }
  }
  input {
  }
}
