.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 1px #ececec;

  margin-bottom: 10px;

  &__logo {
    padding: 0.3rem;
    width: 80px;
    height: 80px;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--item {
      text-decoration: none;
      margin: 0.7rem;
      color: #666;
    }
  }
  .login {
    border: 1px solid #3579d4;
    color: #3579d4;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
  }
  .signup {
    border: 1px solid #d48100;
    color: #d48100;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
  }
}
