.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
  box-shadow: 0 1px #ececec;

  margin-bottom: 10px;

  &__logo {
    padding: 0.3rem;
    width: 80px;
    height: 80px;
  }
  &__menu {
    display: flex;
    justify-content: end;
    align-items: center;
    &--item {
      text-decoration: none;
      margin: 0.7rem;
      color: #666;
    }
    &--payment {
      padding: 0.3rem 0.5rem;
      border: 1px solid #7ae6e9;
      border-radius: 4px;
      color: #7ae6e9;
      background-color: #fff;
    }
    &--payment:hover {
      color: #f2f2f2;
      background-color: #7ae6e9;
    }
  }
  .login {
    border: 1px solid #3579d4;
    color: #3579d4;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
  }
  .login:hover {
    color: #f2f2f2;
    background-color: #3579d4;
  }
  .signup {
    border: 1px solid #d48100;
    color: #d48100;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
  }
  .signup:hover {
    color: #f2f2f2;
    background-color: #d48100;
  }
  .logout {
    border: 1px solid #ed2926;
    color: #ed2926;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
  }
  .logout:hover {
    color: #f2f2f2;
    background-color: #ed2926;
  }
}
