@import '@/index.scss';

.main-auction-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    width: 40%;
    height: 8%;
    border-radius: 0.5rem;
  }
}

.main-auction-description > * {
  margin-bottom: 1rem;
}
