.gallery-page {
  width: 1056px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;

  &__card-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    gap: 1rem;
  }
}
