.funding-item-status {
  position: relative;
  margin-left: 10px;
  flex: 1;
  &__item {
  }
  &__button {
    // position: absolute;
    // bottom: 0.2rem;
    // right: 0.2rem;
    margin-left: auto;
  }
  &__price {
    // padding-right: 4rem;
  }
}
