$shinhan-blue: #3579d4;
$shinhan-orange: #d48100;
$shinhan-skyblue: #aadaff;
$shinhan-mint: #7ae6e9;
$shinhan-turquoise: #07a59f;
$shinhan-gray: #8595a9;
$shinhan-gray-light: #ececec;
$shinhan-gray-dark: #606972;
$shinhan-white: #fff;

$pink: #fde8e7;
$red: #ed2926;

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  // font-family:
  //   Helvetica Neue,
  //   Helvetica,
  //   Arial,
  //   sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

// ::-webkit-scrollbar {
//   width: 6px;
//   padding: 3px;

//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 3px;
//   background-color: gray;
// }

// ::-webkit-scrollbar-button {
//   width: 0;
//   height: 0;
// }

.blue {
  color: $shinhan-blue;
}

.orange {
  color: $shinhan-orange;
}

.skyblue {
  color: $shinhan-skyblue;
}

.mint {
  color: $shinhan-mint;
}

.turquoise {
  color: $shinhan-turquoise;
}

.gray {
  color: $shinhan-gray;

  &-light {
    color: $shinhan-gray-light;
  }

  &-dark {
    color: $shinhan-gray-dark;
  }
}

.white {
  color: $shinhan-white;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

.bg {
  &-blue {
    background-color: $shinhan-blue;
  }
  &-orange {
    background-color: $shinhan-orange;
  }
  &-skyblue {
    background-color: $shinhan-skyblue;
  }
  &-mint {
    background-color: $shinhan-mint;
  }
  &-turquoise {
    background-color: $shinhan-turquoise;
  }
  &-gray {
    background-color: $shinhan-gray;

    &-light {
      background-color: $shinhan-gray-light;
    }

    &-dark {
      background-color: $shinhan-gray-dark;
    }
  }

  &-white {
    background-color: $shinhan-white;
  }

  &-pink {
    background-color: $pink;
  }

  &-red {
    background-color: $red;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20vw));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.container {
  padding: 0 10rem;

  @media screen and (max-width: 829px) {
    padding: 0 5rem;
  }

  @media screen and (max-width: 449px) {
    padding: 0 1rem;
  }

  @media screen and (max-width: 299px) {
    padding: 0;
    font-size: 10px;
  }
}

.flex-container {
  display: flex;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}
.self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
}

.grid-container {
  display: grid;
}

.text-vsm {
  font-size: 10px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// swiper
.swiper-slide {
  position: relative;
  &.swiper-slide-thumb-active {
    opacity: 1;
  }
}

.block {
  display: block;
}

.m-1 {
  margin: 10px;
}
